<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>Register</h1>
            <hr>
            <form action="/auth/register" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <div class="form-text">It will be shown to the public</div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">It will be shown to the public</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div class="form-text">It will be shown to the public</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="plainPassword">
                </div>
                <div class="mb-3">
                    <label for="profileImage" class="form-label">Profile picture</label>
                        <input type="file" class="form-control-file" id="profileImage" name="profileImage">
                </div>


                {{#if errorMessage}}
                <div id="error">{{errorMessage}}</div>
                {{/if}}
                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
</div>