<div class="container pl-5 pt-3">
    <h3>masterpieces</h3>
        <ul>
        {{#each masterpieces}}
            <li class="d-flex flex-row align-items green-color">
                <a class="pl-5" href="/shorts/details/{{id}}"><strong>{{title}}</strong> by <i>{{author}}</a>
            </li>
        {{/each}}
    </ul>
</div>