<div class="animated-title-container mt-5">
    <h5 class="animated-title-small">
        Trailers can be masterpieces, but they can also be bullshits! 
        <br><br>
        Where do we rate that? 
        <br>
        where do we talk about trailers? 
        <br> 
        And most importantly... 
        <br> 
        where can we vent about how we expected another action batman movie but instead got a melancholic batman
        <br><br>
        welcome to
    </h5>
    <h1 class="animated-title">
        {{appTitle}}
    </h1>
    <h5 class="animated-title-small">
       The solution to the footer
    </h5>
</div>